.about-content p {
    margin: 0;
    padding-top: 16px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }
  .corner-message-bottom p {
    margin-bottom: 24px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    height: 286px;
  }