/*============================================================================================
	About Us Area
==============================================================================================*/
.about-us-area {
  position: relative;
}
.about-us-img {
  position: relative;
}
.about-us-img::before {
  position: absolute;
  content: "";
  width: 424px;
  height: 520px;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(44, 51, 51, 0) 0%,
    rgba(44, 51, 51, 0) 48.75%,
    #20262e 100%
  );
}
.about-us-img img {
  width: 424px;
  height: 520px;
  object-fit: cover;
  border-radius: 8px;
}
.about-content {
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0px 16px 48px 0px rgba(32, 38, 46, 0.08);
  padding: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 530px;
}
.about-cont-title {
  font-size: 31px;
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.title-seperetor {
  width: 217px;
  height: 5px;
  background: var(--secondary-color);
  display: block;
}
.about-cont-text {
  margin: 0;
  padding-top: 16px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.about-cont-btn {
  margin-top: 12px;
}
.about-cont-btn .theme-btn {
  border-radius: 24px;
  font-weight: 600;
  padding: 7px 16px;
  line-height: 150%;
}

/* About Us Page */
.about-us-page-img {
  padding-right: 12px;
}
.about-us-page-img img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 8px;
}
.about-us-page-content {
  padding-left: 24px;
}
.about-us-page-cont-title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 24px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.about-us-page-cont-title::before {
  position: absolute;
  content: "";
  width: 217px;
  height: 5px;
  background: var(--secondary-color);
  bottom: 0;
  left: 0;
}

/* Institute Statistics  */
.institute-statistics-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 80px;
}
.about-mission-vission.bg-color {
  background: #f8f8f8;
}
.single-institute-card {
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  padding: 56px 24px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-top: 24px;
}
.single-institute-card:hover {
  border: 1px solid var(--primary-color);
}
.single-institute-card h3 {
  margin-bottom: 4px;
  color: var(--primary-color);
  font-weight: 800;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.single-institute-card p {
  font-size: 18px;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* About Mission Vission */
.about-mission-vission.bg-color {
  background: #f8f8f8;
}
.about-mission-vission-cont-title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 24px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.about-mission-vission-cont-title::before {
  position: absolute;
  content: "";
  width: 222px;
  height: 5px;
  background: var(--secondary-color);
  bottom: 0;
  left: 0;
}
.about-mission-vission-cont-text {
  margin-bottom: 24px;
}
.about-mission-vission-cont-list-title {
  margin-bottom: 24px;
  display: block;
  font-weight: 700;
  color: var(--title-color);
}
.about-mission-vission-cont-list ul li {
  position: relative;
  margin-bottom: 8px;
  padding-left: 12px;
}
.about-mission-vission-cont-list ul li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  top: 10px;
  left: 0;
  background: var(--title-color);
}
.about-mission-vission-img {
  position: relative;
}
.about-mission-vission-img::before {
  position: absolute;
  content: "";
  width: 648px;
  height: 480px;
  background: linear-gradient(
    180deg,
    rgba(44, 51, 51, 0) 0%,
    rgba(44, 51, 51, 0) 48.75%,
    #20262e 100%
  );
  top: 0;
  left: 0;
  border-radius: 8px;
}
.about-mission-vission-img img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 8px;
}
.about-mission-vission-content {
  margin-right: 24px;
}
.about-mission-vission-img {
  margin-left: 12px;
}
.about-mission-vission-img.style-2 {
  margin: 0;
  margin-right: 12px;
}
.about-mission-vission-content.style-2 {
  margin: 0;
  margin-left: 24px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .institute-statistics-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .about-mission-vission-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-mission-vission-content.style-2 {
    margin-left: 0;
    margin-top: 24px;
  }
  .about-mission-vission-img {
    margin-left: 0;
    margin-top: 24px;
  }
  .institute-statistics-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .about-us-page-content {
    padding-left: 0;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .about-us-img img {
    width: 100%;
    height: 320px;
  }
  .about-us-img::before {
    width: 100%;
    height: 100%;
  }
  .about-content {
    padding: 19px;
    position: inherit;
    transform: none;
    width: 100%;
    margin-top: 24px;
  }
  .about-cont-title {
    font-size: 24px;
  }
  .title-seperetor {
    width: 92px;
    height: 4px;
  }
  .about-us-page-img img {
    height: 260px;
  }
  .about-us-page-img {
    padding-right: 0;
  }
  .about-us-page-content {
    padding-left: 0;
    margin-top: 24px;
  }
  .about-us-page-cont-title {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .about-us-page-cont-title::before {
    width: 100px;
    height: 4px;
  }
  .institute-statistics-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .single-institute-card {
    padding: 30px 12px;
    width: 130px;
    height: 130px;
    margin-top: 0;
  }
  .single-institute-card h3 {
    font-size: 28px;
  }
  .single-institute-card p {
    font-size: 14px !important;
  }
  .about-mission-vission-cont-title {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .about-mission-vission-cont-title::before {
    width: 100px;
    height: 4px;
  }
  .about-mission-vission-content {
    margin-right: 0;
  }
  .about-mission-vission-img {
    margin-left: 0;
  }
  .about-mission-vission-img img {
    height: 260px;
  }
  .about-mission-vission-img::before {
    width: 100%;
    height: 100%;
  }
  .about-mission-vission-content.style-2 {
    margin-left: 0;
    margin-top: 24px;
  }
  .about-mission-vission-img {
    margin-top: 24px;
  }
  .col-lg-6.col-12.order-class {
    order: -1;
  }
  .col-lg-6.col-12.order-class .about-mission-vission-img {
    margin: 0;
    margin-bottom: 24px;
  }
}

/*============================================================================================
	End About Us Area
==============================================================================================*/
