/*============================================================================================
	Breadcrumbs Area
==============================================================================================*/
.breadcrumbs-area {
  background: #f8f8f8;
  padding: 80px 0px;
}
.breadcrumbs-content {
  text-align: center;
}
.breadcrumbs-content-title {
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 6px 0px;
}
.breadcrumbs-menu li {
  display: inline-block;
  color: var(--hints-color) !important;
  font-weight: 500 !important;
}
.breadcrumbs-menu li a {
  color: var(--hints-color);
  font-weight: 500;
}
.breadcrumbs-menu li a i {
  margin-right: 4px;
  position: relative;
  top: 2px;
}
.breadcrumbs-menu li i {
  margin: 0px 2px;
  position: relative;
  top: 2px;
  margin-right: 0;
}
.breadcrumbs-menu li.active a {
  color: var(--primary-color);
  font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .breadcrumbs-content-title {
    -webkit-line-clamp: 3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs-content-title {
    -webkit-line-clamp: 3;
  }
}
@media only screen and (max-width: 767px) {
  .breadcrumbs-content-title {
    font-size: 24px;
    -webkit-line-clamp: 3;
  }
  .breadcrumbs-menu li a {
    font-size: 14px;
  }
  .breadcrumbs-area {
    padding: 48px 0px;
  }
}

/*============================================================================================
	End Breadcrumbs Area
==============================================================================================*/
