/*============================================================================================
	Footer Area
==============================================================================================*/
.footer-area {
  background: var(--title-color);
}
.footer-top {
  padding-bottom: 44px;
  padding-top: 4px;
}
.footer-widget {
  margin-top: 40px;
}
.footer-widget-title {
  color: var(--white-color);
  font-size: 20px;
  line-height: 150%;
  border-radius: 6px;
  display: block;
  position: relative;
  padding: 12px 12px 12px 20px;
  z-index: 2;
  margin-bottom: 32px;
}
.footer-widget-title::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 24px;
  background: var(--secondary-color);
  left: 0;
  top: 14px;
  z-index: -1;
}
.footer-widget-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
  top: 0;
  border-radius: 6px;
  opacity: 0.1;
  z-index: -1;
}
.quick-links-inner {
  margin-left: 20px;
}
.footer-widget ul li {
  margin-bottom: 28px;
}
.footer-widget ul li:last-child {
  margin: 0;
}
.footer-widget ul li img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 12px;
}
.footer-widget ul li a {
  color: var(--white-color);
}
.footer-widget ul li a:hover {
  color: var(--secondary-color);
}
.footer-contact-widget {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.footer-contact-widget:last-child {
  margin-bottom: 0;
}
.footer-contact-icon {
  width: 72px;
  min-width: 72px;
  height: 72px;
  border-radius: 16px;
  background: #1d2f32;
  text-align: center;
  line-height: 72px;
}
.footer-contact-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.footer-contact-text {
  margin: 0;
  font-weight: 600;
  color: var(--white-color);
  line-height: 150%;
}
.footer-contact-info a {
  display: block;
  color: var(--white-color) !important;
  font-weight: 600;
  line-height: 150%;
}
.footer-contact-info a:hover {
  color: var(--secondary-color) !important;
}
.footer-contact-info ul li {
  margin-bottom: 0;
  line-height: 150%;
  color: var(--hints-color);
  font-weight: 600;
}
.footer-contact-info ul li span {
  color: var(--white-color);
  font-weight: 700;
  margin-left: 4px;
}
.footer-bottom {
  background: #363c43;
  padding: 12px 0px;
}
.footer-social {
  float: right;
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-social span {
  color: var(--hints-color);
}
.footer-social ul li {
  display: inline-block;
  margin-right: 12px;
}
.footer-social ul li:last-child {
  margin: 0;
}
.footer-social ul li img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.footer-copyright-text {
  color: var(--white-color);
  margin-bottom: 4px;
}
.footer-copyright span {
  color: var(--hints-color);
}
.footer-copyright a {
  margin-left: 6px;
  font-weight: 600;
  color: var(--secondary-color) !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-copyright {
    text-align: center;
  }
  .footer-social {
    float: initial;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #ddd3;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .quick-links-inner {
    margin-left: 0;
  }
  .footer-widget ul li {
    margin-bottom: 20px;
  }
  .footer-widget ul li a {
    font-size: 15px;
  }
  .footer-widget-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .footer-contact-icon {
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 56px;
  }
  .footer-contact-widget {
    margin-left: 0;
  }
  .footer-contact-icon img {
    width: 24px;
    height: 24px;
  }
  .footer-contact-text {
    font-size: 14px !important;
  }
  .footer-contact-info a {
    font-size: 14px;
  }
  .footer-contact-info ul li {
    font-size: 14px;
  }
  .footer-social span {
    display: none;
  }
  .footer-social {
    float: inherit;
    justify-content: center;
    margin-top: 16px;
    border-top: 1px solid #dddddd2b;
    padding-top: 16px;
  }
  .footer-social ul li img {
    width: 24px;
    height: 24px;
  }
  .footer-copyright-text {
    font-size: 14px !important;
  }
  .footer-copyright span {
    font-size: 14px !important;
  }
  .footer-copyright {
    text-align: center;
  }
}

/*============================================================================================
	End Footer Area
==============================================================================================*/
