/*============================================================================================
	Header Area
==============================================================================================*/
.header-area {
  background: #f8f8f8;
}
.header-inner {
  background: var(--white-color);
  box-shadow: 0px 48px 72px 0px rgba(32, 38, 46, 0.12);
  border-radius: 12px;
  padding: 12px 20px;
  margin-top: 16px;
}
.header-area.is-sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  transition: all 0.2s ease;
  background: var(--white-color);
  z-index: 666;
  animation: fadeInDown 1s both 0.2s;
  box-shadow: 0px 48px 72px 0px rgba(32, 38, 46, 0.12);
}
.header-area.is-sticky .header-inner {
  margin: 0;
  padding: 12px 0px;
  box-shadow: none;
}
.header-logo img {
  /* width: 285px; */
  max-width: 285px;
  height: 56px;
  object-fit: contain;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
  float: right;
}
.header-menu .navigation li {
  display: inline-block;
  position: relative;
}
.header-menu .navigation li:last-child {
  margin: 0;
  padding: 0;
}
.header-menu .navigation li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 32px;
  background: #e9e9ea;
  right: 0.5px;
  top: 5px;
  transition: all 0.4s ease;
}
.header-menu .navigation li:last-child::before,
.header-menu .navigation li.active::before,
.header-menu .navigation li:hover::before {
  display: none;
}
.header-menu .navigation li a {
  padding: 8px 16px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 24px;
  z-index: 2;
  position: relative;
}
.header-menu .navigation li.active a,
.header-menu .navigation li a:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.header-menu .navigation li.active a {
  font-weight: 600;
}
.header-menu .navigation li a i {
  font-size: 18px;
  margin-left: 4px;
  position: relative;
  top: 4px;
}
.header-menu-btn .theme-btn {
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: 600;
  background: var(--secondary-color);
  color: var(--white-color);
  height: 40px;
  line-height: 150%;
}
.header-menu-btn .theme-btn i {
  font-size: 18px;
  margin-right: 6px;
  margin-left: 0;
  position: relative;
  top: 2px;
}
.header-menu-btn .theme-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* Dropdown Menu */
.header-area .navigation li .sub-menu {
  position: absolute;
  top: 70px;
  width: 234px;
  background: #fff;
  z-index: 5222;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  box-shadow: 0px 10px 30px #04091e17;
  border-radius: 4px;
  margin: 0;
  padding: 12px 0px;
}
.header-area .navigation li .sub-menu::before {
  background: #fff;
  bottom: 0;
  content: "";
  height: 12px;
  margin-left: -6px;
  opacity: 1;
  position: absolute;
  left: 24px;
  top: -6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.2s ease;
  visibility: visible;
  width: 12px;
}
.header-area .navigation li.active .sub-menu a {
  background: transparent;
}
.header-area .navigation li .sub-menu li.active a {
  color: var(--primary-color) !important;
  background: var(--white-color-3);
  padding: 10px 25px;
}
.header-area.is-sticky .navigation li .sub-menu a {
  color: var(--title-color) !important;
}
.header-area.is-sticky .navigation li .sub-menu a:hover {
  color: var(--primary-color) !important;
}
.header-area .navigation li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-area .navigation li .sub-menu li {
  display: block;
  margin: 0;
  text-align: left;
  border-bottom: 1.5px solid #04091e17;
}
.header-area .navigation li .sub-menu li:last-child {
  border: none;
}
.header-area .navigation li .sub-menu li a {
  color: var(--title-color);
  display: block;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 0;
}
.header-area .navigation li .sub-menu li a::before {
  display: none;
}
.header-area .navigation li .sub-menu li a:hover {
  color: var(--primary-color) !important;
  background: var(--white-color-3);
  padding: 10px 25px;
}
.header-area .navigation li:hover .sub-menu a::before {
  opacity: 0;
  visibility: hidden;
}
.header-area .navigation li .sub-menu li a::before {
  display: none;
}
.topbar-update-notice-scroll {
  display: none;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1350px) {
  .header-right {
    display: none;
  }
  .topbar-right {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right {
    display: none;
  }
  .topbar-right {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header-right {
    display: none;
  }
  .header-logo img {
    width: 100%;
    height: 40px;
  }
  .header-area.is-sticky .header-inner {
    padding: 18px 0px;
  }
  .topbar-left {
    display: flex;
    align-items: center;
  }
  .topbar-update-notice-single {
    font-size: 14px;
  }
  .topbar-update-notice-scroll {
    display: flex;
    align-self: center;
    gap: 6px;
    overflow: hidden;
  }
  .topbar-update-notice-slider {
    display: none !important;
  }
  .topbar-update-notice-single {
    animation: scrollLeft 20s linear infinite;
  }
  .topbar-update-notice {
    gap: 12px;
  }
  .topbar-right {
    float: right;
    display: none;
  }
}

/*============================================================================================
	End Header Area
==============================================================================================*/
