/*============================================================================================
	Home Sidebar Widget Area
==============================================================================================*/
.home-page-main-right {
}
.home-sidebar-widget {
  background: var(--white-color-2);
  padding: 24px 16px;
  border-radius: 8px;
  margin-top: 24px;
}
.home-sidebar-widget-title img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.home-sidebar-widget-title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 20px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.sidebar-widget-list {
  background: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(32, 38, 46, 0.08);
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 12px;
  transition: all 0.4s ease;
}
.sidebar-widget-list:last-child {
  margin: 0;
}
.sidebar-widget-list:hover {
  box-shadow: 0px 16px 48px 0px rgba(32, 38, 46, 0.08);
}
.sidebar-widget-list-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar-widget-list-content p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
  margin: 0;
}

.sidebar-widget-list-content img {
  width: 32px;
  height: 32px;
  overflow: ;
  object-fit: contain;
}
.home-sidebar-widget.important-links .sidebar-widget-list-content img {
  width: 24px !important;
  height: 24px !important;
}

.sidebar-widget-list-btn .theme-btn.secondary {
  padding: 8px 12px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 14px;
  height: 29px;
  white-space: nowrap;
}
.home-sidebar-widget-btn {
  text-align: center;
  margin-top: 20px;
}
.home-sidebar-widget-btn .theme-btn {
  height: 46px;
}

@media only screen and (max-width: 767px) {
  .sidebar-widget-list {
    display: block;
  }
  .home-sidebar-widget-title {
    font-size: 20px;
  }
  .sidebar-widget-list-content p {
    font-size: 14px !important;
  }
  .sidebar-widget-list-btn {
    margin-top: 8px;
    margin-left: 38px;
  }
  .home-sidebar-widget.important-links .sidebar-widget-list-btn {
    margin-left: 30px;
  }
}

/*============================================================================================
	End Home Sidebar Widget Area
==============================================================================================*/
