/*============================================================================================
	Notice Board Area
==============================================================================================*/
.notice-board-area {
  padding: 24px 0px 40px;
}
.notice-board-tab-menu {
  margin-bottom: 24px;
}
.notice-board-tab-menu .list-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  justify-content: center;
  background: var(--white-color-2);
  padding: 8px 12px;
  border-radius: 8px;
  margin: 0px 16px;
}
.notice-board-tab-menu .list-group-item {
  background: transparent;
  border: none !important;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px !important;
  margin: 0 !important;
  position: relative;
}
.notice-board-tab-menu .list-group-item::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 24px;
  background: var(--border-color);
  right: 0;
  top: 13px;
}
.notice-board-tab-menu .list-group-item:last-child::before {
  display: none;
}
.notice-board-tab-menu .list-group-item.active::before {
  display: none;
}
.notice-board-tab-menu .list-group-item.active {
  background: var(--primary-color);
  color: var(--white-color);
}
.all-notice-table {
  margin: 0;
}
.all-notice-table thead {
  background: #f2f2f2;
}
.all-notice-table thead tr th {
  font-weight: 600;
  color: var(--title-color);
  font-size: 16px;
  padding: 10px 20px;
}
.all-notice-table tbody tr td {
  background: var(--white-color-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 6px 20px;
  vertical-align: middle;
}
.all-notice-table tbody tr {
  border-top: 12px solid var(--white-color);
  border-bottom: 12px solid var(--white-color);
}
.notice-table-subject {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.activity-btn-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.view-btn,
.download-btn {
  background: #2c3333;
  color: var(--white-color) !important;
  padding: 8px 12px;
  border-radius: 6px;
  height: 40px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.view-btn i,
.download-btn i {
  font-size: 20px;
  margin-right: 4px;
  position: relative;
  top: 3px;
}
.view-btn:hover {
  background: var(--primary-color);
  color: var(--white-color) !important;
}
.download-btn {
  background: var(--secondary-color) !important;
}
.download-btn:hover {
  background: var(--primary-color) !important;
}
.all-notice-table-btn {
  text-align: center;
  margin-top: 24px;
}
.all-notice-table-btn .theme-btn.secondary {
  border-radius: 24px;
  font-weight: 600;
  height: 44px;
}
.all-notice-table-btn .theme-btn.secondary i {
  margin: 0;
  margin-right: 6px;
}

/* Notice Board Details */
.notice-board-details {
  padding: 16px 0px 80px;
}
.n-board-details-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
  margin-bottom: 24px;
}
.n-board-details-topbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.n-board-details-topbar-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}
.n-board-details-topbar-btn {
  white-space: nowrap;
}
.n-board-details-topbar-btn .theme-btn {
  height: 40px;
  padding: 8px 12px;
  font-weight: 600;
}
.n-board-details-topbar-btn .theme-btn i {
  margin: 0;
  margin-right: 4px;
}
.n-board-details-topbar-right .theme-btn {
  height: 40px;
  background: var(--secondary-color);
  padding: 8px 12px;
}
.n-board-details-topbar-right .theme-btn i {
  margin: 0;
  margin-right: 4px;
}
.n-board-details-topbar-right .theme-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.n-board-details-content-widget {
  background: var(--white-color);
  box-shadow: 0px 16px 48px 0px rgba(32, 38, 46, 0.08);
  border-radius: 16px;
  padding: 48px 224px;
}
.n-board-details-content-widget-top h5 {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 32px;
}
.n-board-details-content-widget-top h6 {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 32px;
}
.n-board-details-content-widget-top p {
  margin: 0;
  font-size: 18px;
}
.n-board-content-table-main {
  padding: 0px 68px;
}
.n-board-content-table {
  margin: 40px 0px;
}
.n-board-content-table thead {
  background: var(--white-color-3);
}
.n-board-content-table thead tr th {
  font-weight: 600;
  color: var(--title-color);
  font-size: 18px;
  padding: 12px 24px;
}
.n-board-content-table tbody tr td {
  background: var(--white-color-2);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px 24px;
  vertical-align: middle;
}
.n-board-content-table tbody tr {
  border-top: 12px solid var(--white-color);
  border-bottom: 12px solid var(--white-color);
}
.n-board-details-content-widget-bottom h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}
.n-board-details-content-widget-bottom ul {
  padding-left: 12px;
  margin-bottom: 24px;
}
.n-board-details-content-widget-bottom ul li {
  margin-bottom: 4px;
  font-size: 18px;
  position: relative;
  padding-left: 14px;
  line-height: 150%;
}
.n-board-details-content-widget-bottom ul li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: var(--title-color);
  top: 8px;
  left: 0;
}
.n-board-details-content-widget-bottom p {
  margin-bottom: 20px;
  font-size: 18px;
}
.n-board-details-content-widget-bottom span {
  font-size: 18px;
  display: block;
  line-height: 150%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-notice-table thead tr th {
    white-space: nowrap;
  }
  .all-notice-table tbody tr td {
    white-space: nowrap;
  }
  .all-notice-table {
    display: inline-block;
    overflow: scroll;
    padding-bottom: 16px;
  }
  .all-notice-table::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .all-notice-table::-moz-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .all-notice-table::-ms-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }
  .n-board-details-topbar-right .theme-btn {
    white-space: nowrap;
  }
  .n-board-details-topbar-title {
    margin-top: 12px;
  }
  .n-board-details-content-widget {
    padding: 40px;
  }
  .n-board-content-table-main {
    padding: 0px 32px;
  }
  .n-board-details-topbar-left {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .all-notice-table thead tr th {
    font-size: 14px;
  }
  .all-notice-table tbody tr td {
    font-size: 14px;
    white-space: nowrap;
  }
  .all-notice-table {
    display: inline-block;
    overflow: scroll;
    padding-bottom: 16px;
  }
  .all-notice-table::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .all-notice-table::-moz-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .all-notice-table::-ms-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }
  .notice-board-tab-menu {
    overflow-x: scroll;
    padding-bottom: 12px;
  }
  .notice-board-tab-menu .list-group {
    margin: 0;
    justify-content: left;
    white-space: nowrap;
    width: fit-content;
  }
  .notice-board-tab-menu::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .notice-board-tab-menu::-moz-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .notice-board-tab-menu::-ms-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }
  .n-board-details-topbar-right {
    margin-top: 12px;
  }
  .n-board-details-topbar-title {
    margin-top: 12px;
  }
  .n-board-details-content-widget {
    padding: 32px 16px;
  }
  .n-board-content-table-main {
    padding: 0;
  }
  .n-board-details-content-widget-top h5 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .n-board-details-content-widget-top h6 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .n-board-details-content-widget-bottom h6 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .n-board-details-content-widget-bottom ul li {
    font-size: 15px;
  }
  .n-board-details-content-widget-bottom span {
    font-size: 16px;
  }
  .n-board-content-table thead tr th {
    font-size: 16px;
  }
  .n-board-content-table tbody tr td {
    font-size: 16px;
    white-space: nowrap;
  }
  .n-board-details-topbar-left {
    display: block;
    width: 100%;
  }
  .n-board-details-topbar {
    display: block;
  }
  .n-board-content-table {
    display: inline-block;
    overflow: scroll;
    padding-bottom: 16px;
  }
  .n-board-content-table::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .n-board-content-table::-moz-scrollbar {
    width: 4px !important;
    height: 4px !important;
    display: block;
  }
  .n-board-content-table::-ms-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }
}

/*============================================================================================
	End Notice Board Area
==============================================================================================*/
