/*============================================================================================
	School Information Area
==============================================================================================*/
.school-information-area {
  padding: 24px 0px 40px;
}
.school-information-list {
  background: var(--white-color-2);
  padding: 16px 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 36% 64%;
  gap: 12px;
  margin-bottom: 12px;
}
.school-information-list:last-child {
  margin: 0;
}
.school-information-list p,
.school-information-list span {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.school-information-list span {
  font-weight: 700;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .school-information-list {
    display: block;
  }
  .school-information-list p,
  .school-information-list span {
    font-size: 16px;
  }
  .school-information-list span {
    margin-top: 6px;
  }
}

/*============================================================================================
	End School Information Area
==============================================================================================*/
