/*============================================================================================
	Teachers Area
==============================================================================================*/
.teachers-area {
  padding-top: 40px;
}
.teachers-card-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
}
.teachers-area.teachers-page .teachers-card-group {
  grid-template-columns: repeat(3, 1fr);
}
.single-teachers {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 2px 2px 0px rgba(32, 38, 46, 0.08);
  background: var(--white-color);
  border-radius: 12px;
  height: 180px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.single-teachers:hover {
  box-shadow: 0px 16px 48px 0px rgba(32, 38, 46, 0.08);
}
.teachers-img img {
  width: 160px !important;
  height: 180px !important;
  max-width: 160px !important;
  border-radius: 12px;
  object-fit: cover;
}
.teachers-name {
  font-size: 20px;
  margin-bottom: 6px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 2px 0px;
}
.teachers-designation {
  color: var(--hints-color);
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.teachers-social {
  margin-top: 12px;
}
.teachers-social li {
  display: inline-block;
  margin-right: 10px;
}
.teachers-social li a {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
}
.teachers-social li a:hover {
  background: var(--primary-color);
}
.teachers-social li:last-child {
  margin: 0;
}
.teachers-btn {
  margin-top: 16px;
}
.teachers-btn .theme-btn.secondary {
  border-radius: 16px;
  padding: 8px 16px;
  height: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}
.teachers-btn .theme-btn.secondary i {
  font-size: 16px;
  margin-left: 6px;
  position: relative;
  top: 1px;
}

/* Teacher Details */
.teacher-details-widget {
  background: var(--white-color);
  box-shadow: 0px 16px 48px 0px rgba(32, 38, 46, 0.08);
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.teacher-details-img img {
  max-width: 512px;
  height: 586px;
  width: 512px;
  object-fit: cover;
  border-radius: 16px;
}
.t-details-widget-info-top {
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.t-details-widget-info-top h5 {
  line-height: 140%;
  margin-bottom: 6px;
}
.t-details-widget-info-top p {
  margin: 0;
  color: var(--hints-color);
  font-size: 18px;
}
.t-details-widget-info-bottom {
  display: flex;
  gap: 110px;
}
.t-details-widget-info-bottom-left p {
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--hints-color);
}
.t-details-widget-info-bottom-left p:last-child {
  margin: 0;
}
.t-details-widget-info-bottom-left p span {
  display: inline-block;
  margin-left: 4px;
  color: var(--paragraph-color);
  font-weight: 700;
}
.t-details-widget-info-bottom-social span {
  color: var(--hints-color);
  font-size: 18px;
  margin-bottom: 6px;
  display: block;
}
.t-details-widget-info-bottom-social ul li {
  display: inline-block;
  margin-right: 8px;
}
.t-details-widget-info-bottom-social ul li:last-child {
  margin: 0;
}
.t-details-widget-info-bottom-social ul li a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: var(--secondary-color);
  color: var(--white-color);
  font-size: 16px;
  transition: all 0.4s ease;
  text-align: center;
  border-radius: 4px;
}
.t-details-widget-info-bottom-social ul li a:hover {
  background: var(--primary-color);
}
.teacher-details-widget-content-main {
  margin-top: 36px;
}
.teacher-details-widget-content-main h6 {
  line-height: 150%;
  display: flex;
  align-items: baseline;
  white-space: nowrap;
  gap: 16px;
  margin-bottom: 20px;
}
.teacher-details-widget-content-main h6 span {
  margin: 0;
}
.teacher-details-widget-content-main p {
  margin-bottom: 24px;
}
.teacher-details-widget-content-main span {
  font-weight: 600;
  margin-bottom: 24px;
  display: block;
}
.teacher-details-widget-content-main ul li {
  position: relative;
  line-height: 150%;
  padding-left: 14px;
  margin-bottom: 8px;
}
.teacher-details-widget-content-main ul li:last-child {
  margin: 0;
}
.teacher-details-widget-content-main ul li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: var(--title-color);
  left: 0;
  top: 7px;
}

/* Related Teachers */
.related-teachers-area {
  padding: 40px 0px;
  background: #f8f8f8;
  overflow: hidden;
}

.related-teachers-area .owl-stage-outer {
  overflow: visible;
}
.related-teachers-area .owl-item {
  opacity: 0;
  transition: opacity 500ms;
}
.related-teachers-area .owl-item.active {
  opacity: 1;
}

/* Slider Arrow */
.related-teachers-area .owl-nav {
  position: absolute;
  right: 0;
  top: -58px;
}
.related-teachers-area .owl-theme .owl-nav [class*="owl-"] {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background: #fbfbfb;
  color: var(--hints-color);
  font-size: 24px;
  transition: all 0.4s ease;
  line-height: 37px;
  border-radius: 4px;
}
.related-teachers-area .owl-theme .owl-nav [class*="owl-"]:hover {
  background: #f8f8f8;
  color: var(--title-color);
}
.related-teachers-area .owl-prev {
  margin-right: 12px !important;
}

.teachers-card-group::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
  display: block;
}
.teachers-card-group::-moz-scrollbar {
  width: 4px !important;
  height: 4px !important;
  display: block;
}
.teachers-card-group::-ms-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .teachers-card-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .teachers-area.teachers-page .teachers-card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .teacher-details-widget {
    display: block;
  }
  .teacher-details-img img {
    max-width: 500px;
    height: 500px;
    width: 500px;
  }
  .teacher-details-widget-content {
    margin-top: 24px;
  }
  .t-details-widget-info-top {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .school-commite-card {
    margin-top: 24px;
  }
  .teachers-area.teachers-page .teachers-card-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .teacher-details-widget {
    display: block;
  }
  .teacher-details-img img {
    max-width: 500px;
    height: 500px;
    width: 500px;
  }
  .teacher-details-widget-content {
    margin-top: 24px;
  }
  .t-details-widget-info-top {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .teachers-card-group {
    grid-template-columns: repeat(5, 1fr);
    overflow-y: scroll;
    padding-bottom: 32px;
  }
  .single-teachers {
    display: block;
    height: auto;
    text-align: center;
    padding: 24px;
    width: 246px;
  }
  .teachers-img img {
    width: 100px !important;
    height: 100px !important;
    max-width: 100px !important;
    display: inline-block !important;
  }
  .teachers-name {
    font-size: 18px;
  }
  .teachers-content {
    margin-top: 12px;
  }
  .teachers-area.teachers-page .teachers-card-group {
    grid-template-columns: repeat(1, 1fr);
    overflow: initial;
    padding: 0;
    gap: 24px;
    justify-items: center;
  }
  .teacher-details-img img {
    max-width: 100%;
    height: 200px;
    width: 100%;
  }
  .t-details-widget-info-top h5 {
    font-size: 20px;
  }
  .t-details-widget-info-bottom-social span {
    font-size: 16px;
  }
  .teacher-details-widget {
    padding: 24px 16px;
    display: block;
  }
  .teacher-details-widget-content-main ul li {
    font-size: 15px;
  }
  .teacher-details-widget-info {
    margin-top: 12px;
  }
  .t-details-widget-info-bottom-social {
    margin-top: 12px;
  }
  .related-teachers-area .owl-nav {
    top: -52px;
  }
  .t-details-widget-info-bottom {
    display: block;
  }
  .related-teachers-slider .single-teachers {
    width: 100%;
    margin-bottom: 36px;
    margin-top: 16px;
  }

  .related-teachers-area .owl-stage-outer {
    overflow: hidden;
  }
  .related-teachers-area .owl-item {
    opacity: 1;
  }
  .related-teachers-area .owl-item.active {
    opacity: 1;
  }
  .related-teachers-slider.owl-carousel .owl-item {
    width: 258px !important;
  }
}

/*============================================================================================
	End Teachers Area
==============================================================================================*/
