/*============================================================================================
	Topbar Area
==============================================================================================*/
.topbar-area {
  background: var(--white-color);
  padding: 12px 0px;
}
.topbar-left {
  overflow: hidden;
}
.topbar-update-notice {
  display: flex;
  align-items: center;
  gap: 18px;
}
.topbar-update-notice-title {
  display: block;
  padding: 8px 16px;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 6px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.topbar-update-notice-title::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  bottom: 0;
  height: 8px;
  opacity: 1;
  right: -3px;
  top: 50%;
  transform: rotate(135deg);
  transition: all 0.2s ease;
  visibility: visible;
  width: 8px;
  margin-top: -4px;
  z-index: -1;
  transition: all 0.5s ease;
}
.topbar-update-notice-single {
  margin: 0;
}
.topbar-update-notice-single a {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  font-weight: 500;
  line-height: 150%;
}
.topbar-right {
  float: right;
}
.topbar-school-info ul li {
  display: inline-block;
  margin-right: 12px;
  padding-right: 12px;
  position: relative;
  color: var(--hints-color);
  font-size: 16px;
}
.topbar-school-info ul li:last-child {
  margin: 0;
  padding: 0;
}
.topbar-school-info ul li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 24px;
  background: #e9e9ea;
  right: -0.5px;
  top: 0;
}
.topbar-school-info ul li:last-child::before {
  display: none;
}
.topbar-school-info ul li span {
  color: var(--title-color);
  font-weight: 700;
  margin-left: 6px;
}
/*============================================================================================
	End Topbar Area
==============================================================================================*/
