/*============================================================================================
	Total Students Area
==============================================================================================*/
.total-students-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 40px;
}
.total-students-card {
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 100%;
  padding: 44px 24px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-top: 24px;
}
.total-students-card:hover {
  border: 1px solid var(--primary-color);
}
.total-students-number {
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.total-students-text {
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--title-color);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.total-students-class {
  color: var(--hints-color);
  font-weight: 600;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .total-students-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .total-students-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .total-students-group {
    text-align: center;
  }
  .total-students-card {
    width: 130px;
    height: 130px;
  }
  .total-students-number {
    font-size: 22px;
  }
  .total-students-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .total-students-card {
    padding: 26px 14px;
    margin-top: 0;
  }
  .total-students-text {
    margin-bottom: 3px;
    font-size: 13px !important;
  }

  .total-students-class {
    font-size: 14px !important;
  }
}

/*============================================================================================
	End Total Students Area
==============================================================================================*/
